.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TIC TAC TOE  */
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.hidden {
  display: none;
}

.confetti {
  z-index: -1000;
  position: fixed;
  top: 0;
  left: 0;
}

#widgets {
  overflow: auto;
}

#quotes h3,
#quotes h4 {
  color: white;
}

#quotes {
  background-color: rgba(218, 165, 32, 0.8);
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
}

.programmers-quotes {
  font-size: 16px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.programmers-quotes blockquote {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.4 !important;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

.programmers-quotes blockquote * {
  box-sizing: border-box;
}

.programmers-quotes blockquote p {
  color: goldenrod;
}

.programmers-quotes blockquote p:first-child:before {
  content: "\201C";
  color: goldenrod;
  font-size: 7em;
  font-weight: 700;
  opacity: 0.2;
  position: absolute;
  top: -0.4em;
  left: -0.15em;
  text-shadow: none;
  z-index: -300;
}

.programmers-quotes cite {
  color: white;
}

.programmers-quotes cite span {
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px white;
}

.footer {
  margin-top: 50px;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  z-index: 1200;
}

/**** APPEAR - On Page Load ****/
.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: 500ms linear;
}

/**** ENTER ****/
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  left: 0;
  transition: 500ms linear 500ms;
}

/**** EXIT ****/
.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit.active {
  opacity: 0;
  transition: 200ms linear;
}
.fade-exit-done {
  opacity: 0;
}

/**** SLIDE ENTER****/
.slide-enter {
  opacity: 1;
  transform: scale(0.97) translateY(5px);
  z-index: 1200;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
}

/**** SLIDE EXIT****/
.slide-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  transition: 1ms linear;
}

.slide-exit-done {
  opacity: 0;
}

/**** PROJECT ****/
.project {
  border-radius: 5px;
  background-color: rgba(218, 165, 32, 0.1);
}